<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.1" targetFramework="net472" />
  <package id="BouncyCastle.NetCore" version="2.2.1" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net472" />
  <package id="itext" version="9.2.0" targetFramework="net472" />
  <package id="itext.bouncy-castle-adapter" version="9.2.0" targetFramework="net472" />
  <package id="itext.commons" version="9.2.0" targetFramework="net472" />
  <package id="itext7" version="9.2.0" targetFramework="net472" />
  <package id="itext7.bouncy-castle-adapter" version="9.2.0" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Microsoft.Bcl.Cryptography" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="3.1.8" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="10.0.0-preview.4.25258.110" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
</packages>